NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_ENABLE_LEGACY_TOKEN=false
NEXT_PUBLIC_ENABLE_MOCK_CONTENT=false
NEXT_PUBLIC_MERGE_MOCK_WITH_API=false
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-ZNGHZ2EQ9P
NEXT_PUBLIC_META_PIXEL_ID=
